.container,.header,.body{
    display: flex;
  }

.container{
    height: 1700px;
    flex-direction: column;
  }

.header{
    height: 15%;
    transition-property: height position;
    flex-direction: row;
    width: 100%;
    background-color: red;
  }
  .body{
    height: 85%;
    background-color:orange;
  }
  
  .d1{
      display: flex;
      padding-top: 7em;
      flex-direction: column;
      font-size: 30px;
      align-items: center;
      text-align: center;
  }
  .d1 div{
      
      padding-top: 4em;
  }


  /* TRANSICIONES*/

  .header-scroll{
    transition-property: height position;
    position:fixed;
    top: 270px;
    height: 0;
    flex-direction: row;
    width: 100%;
    background-color: red;
  }

  .header-scrollend{
    transition-property: height position;
    position:fixed;
    top: 270px;
    height: 5%;
    flex-direction: row;
    width: 100%;
    background-color: green;
  }
